#header{
	height: 150px;
	background-color: #00ccee;
	border-bottom: solid 8px #FFF;
}
nav{
	padding-top: 47px;
	text-align: center;
	margin-right: 75px;
}
a{
	color:white;
	margin-right: 52px;
	text-decoration: none;
}
#my_body{
	background-color: #005577;
	height: 605px;
}
img{
	width: 670px;
	margin: 0 auto;
	position: absolute;
    left: 173px;
    top: 80px;
    /*z-index: 1;*/
    border: solid 8px #FFF;
}
span{
	color:white;
}
#top{
	font-weight: bold;
	font-size: 22px;
	position:absolute;
	top: 124px;
	left: 225px;
}
#bottom{
	font-size: 12px;
	position:absolute;
	top:149px;
	left: 233px;
}
pre{
	background-color: #ddeeff;
	width: 650px;
	font-size: 10px;
	line-height: 22px;
	margin: -330px auto 0px;
	margin-left: 165px;
	padding: 14px 10px 0px;
	border: 8px #FFF;
	border-style: solid solid none solid;
	color:darkblue;
}
pre::first-line{
	color:darkblue;
	font-size: 18px;
}